<!-- http://lab.hakim.se/reveal-js/#/10/2 -->
<html>
  <head>
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/reveal.css"  rel="stylesheet" />
    <link rel="stylesheet" href="/css/black.css"  rel="stylesheet" />
    <link rel="stylesheet" href="/css/default.min.css"  rel="stylesheet" />
    <link rel="stylesheet" href="/css/font-awesome.min.css"  rel="stylesheet" />
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/highlight.min.js"></script>
    <style>
body {
  background: url(/images/bg.jpg);
}
em {
  /*
  color: #C44545;
  color: rgb(39, 69, 60);
  text-shadow: 1px 1px 5px white;
  */
  color: rgb(130, 113, 79);
  color: rgb(79, 96, 130);
  color: rgb(36, 43, 59);
  color: rgb(117, 72, 87);
  color: rgb(255, 80, 80);
  text-shadow: 0.5px 0.5px black;
}
pre {
  background: black;
  padding: 2px !important;
  border-radius: 4px;
  overflow: hidden;
}
.reveal table th, .reveal table td {
  color: white;
}

.reveal a {
  color: rgb(79, 96, 130);
  color: rgb(39, 46, 100);
  color: rgb(80, 255, 80);
  text-shadow: 0.5px 0.5px black;
}

.reveal a:hover {
  color: rgb(140, 255, 140);
  text-shadow: inherit;
}

.reveal h1 .fa {
  margin-left: 0.25em;
  font-size: 0.45em;
}
.reveal h1 a,
.reveal h1 {
  text-shadow: 5px 5px black;
  font-size: 2.25em;
}
.reveal h2,
.reveal h2 a,
.reveal h3 a,
.reveal h3 {
  text-shadow: 4px 4px black;
}
.reveal h4 a,
.reveal h4 {
  text-shadow: 3px 3px black;
}

.reveal td {
  vertical-align: top;
}

.reveal code {
  background-color: white;
  color: rgb(39, 69, 60);
  font-family: monospace;
  border-radius: 4px;
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
}

</style>
  </head>
  <body>
    <div class="reveal">
      <div class="slides">

<%- include('./slides/welcome') %>

<section>
  <h2>Download git</h2>
<a href="http://cmder.net/" target="_blank">http://cmder.net/</a>
</section>

<section>
  <h2>Clone this slides</h2>
git clone <a href="https://github.com/llafuente/git-ninja-slides" target="_blank">https://github.com/llafuente/git-ninja-slides</a>
</section>

<%- include('./slides/myself') %>
<%- include('./slides/definition') %>
<%- include('./slides/git-0-what-is-git') %>
<%- include('./slides/git-0-svn-vs-git') %>



<%- include('./slides/git-1-working-tree.ejs') %>
<%- include('./slides/git-2-workflow') %>

<%- include('./slides/sh-playable-example', {
  title: 'Example',
  shFile: '../examples/git-workflow.sh',
  id: 'git-workflow'
}) %>



<%- include('./slides/git-4-0-intro') %>


<%- include('./slides/git-4-1-clone') %>
<%- include('./slides/git-4-2-push') %>
<%- include('./slides/git-4-2-push-multiple-remotes') %>
<%- include('./slides/git-4-3-pull') %>

<%- include('./slides/git-branch-intro') %>
<%- include('./slides/git-branch') %>
<%- include('./slides/sh-playable-example', {
  title: 'using merge',
  shFile: '../examples/git-merge.sh',
  id: 'git-merge'
}) %>
<%- include('./slides/sh-playable-example', {
  title: 'using rebase',
  shFile: '../examples/git-rebase.sh',
  id: 'git-rebase'
}) %>


<%- include('./slides/git-flow-intro') %>
<%- include('./slides/git-flow') %>
<%- include('./slides/git-flow-init') %>
<%- include('./slides/git-flow-feature') %>
<%- include('./slides/git-flow-release') %>
<%- include('./slides/git-flow-hotfix') %>
<%- include('./slides/sh-playable-example', {
  title: 'merge',
  shFile: '../examples/git-flow-merge.sh',
  id: 'git-flow-merge'
}) %>

<%- include('./slides/sh-playable-example', {
  title: 'rebase',
  shFile: '../examples/git-flow-rebase.sh',
  id: 'git-flow-rebase'
}) %>


<%- include('./slides/merge-vs-rebase') %>
<%- include('./slides/merge-vs-rebase-merge') %>
<%- include('./slides/merge-vs-rebase-rebase') %>
<%- include('./slides/merge-vs-rebase-veredict') %>

<%- include('./slides/git-tag') %>

<%- include('./slides/git-tools') %>


<!-- -->
<section>
  <h2><a href="https://git-scm.com/docs/git-bisect" target="_blank">git bisect</a></h2>

  <p>Use binary search to find the commit that introduced a bug</p>

<%- include('./slides/sh-code', {
  shFile: '../examples/git-bisect.sh'
}) %>

</section>

<section>
  <img src="/images/bisect.png" />
</section>

<section>

<%- include('./slides/sh-playable-example', {
  title: 'Example',
  shFile: '../examples/git-bisect-example.sh',
  id: 'git-bisect'
}) %>

</section>



<!-- -->
<section>
  <h1>git blame</h1>
  <p>Show what revision and author last modified each line of a file</p>
  <small>Blame can hurt your/his/her feelings, you are warned</small>
  <br />
  <img src="images/i-know-it-was-you.gif" />
</section>




<!-- -->
<section>
  <h1>Example</h1>
  <pre style="font-size: 1rem;"><code>3d6180c8 (ADRIAN                2017-04-21 12:42:48 +0200   1) &lt;bbva-section>
3d6180c8 (ADRIAN                2017-04-21 12:42:48 +0200   2)   &lt;bbva-section-header>
3d6180c8 (ADRIAN                2017-04-21 12:42:48 +0200   3)     &lt;span>Solicitud de alta de un sistema de almacenamiento&lt;/span>
3d6180c8 (ADRIAN                2017-04-21 12:42:48 +0200   4)   &lt;/bbva-section-header>
3d6180c8 (ADRIAN                2017-04-21 12:42:48 +0200   5)
3d6180c8 (ADRIAN                2017-04-21 12:42:48 +0200   6)   &lt;bbva-section-content
3d6180c8 (ADRIAN                2017-04-21 12:42:48 +0200   7)     (onLoad)="reloadData()"
3d6180c8 (ADRIAN                2017-04-21 12:42:48 +0200   8)     (onReload)="reloadData()"
3d6180c8 (ADRIAN                2017-04-21 12:42:48 +0200   9)     [error]="error"
3d6180c8 (ADRIAN                2017-04-21 12:42:48 +0200  10)     [loading]="loading">
8235d9b3 (Luis Lafuente Morales 2017-04-26 12:36:43 +0200  11)
3d6180c8 (ADRIAN                2017-04-21 12:42:48 +0200  12)     &lt;form #theForm="ngForm" (ngSubmit)="save()">
3d6180c8 (ADRIAN                2017-04-21 12:42:48 +0200  13)       &lt;div class="row">
3d6180c8 (ADRIAN                2017-04-21 12:42:48 +0200  14)         &lt;div class="col-sm-4">
8235d9b3 (Luis Lafuente Morales 2017-04-26 12:36:43 +0200  15)           &lt;md-input-container>
8235d9b3 (Luis Lafuente Morales 2017-04-26 12:36:43 +0200  16)             &lt;input
43996783 (ADRIAN                2017-04-26 18:23:13 +0200  17)               mdInput
8235d9b3 (Luis Lafuente Morales 2017-04-26 12:36:43 +0200  18)               name="Nombre"
8235d9b3 (Luis Lafuente Morales 2017-04-26 12:36:43 +0200  19)               [(ngModel)]="newStorage.filesystemName"
8235d9b3 (Luis Lafuente Morales 2017-04-26 12:36:43 +0200  20)               placeholder="Nombre"
8235d9b3 (Luis Lafuente Morales 2017-04-26 12:36:43 +0200  21)               required="required" />
8235d9b3 (Luis Lafuente Morales 2017-04-26 12:36:43 +0200  22)           &lt;/md-input-container>
3d6180c8 (ADRIAN                2017-04-21 12:42:48 +0200  23)         &lt;/div>
3d6180c8 (ADRIAN                2017-04-21 12:42:48 +0200  24)
3d6180c8 (ADRIAN                2017-04-21 12:42:48 +0200  25)         &lt;div class="col-sm-8">
8235d9b3 (Luis Lafuente Morales 2017-04-26 12:36:43 +0200  26)           &lt;md-input-container>
8235d9b3 (Luis Lafuente Morales 2017-04-26 12:36:43 +0200  27)             &lt;input
43996783 (ADRIAN                2017-04-26 18:23:13 +0200  28)             mdInput
8235d9b3 (Luis Lafuente Morales 2017-04-26 12:36:43 +0200  29)             name="Descripcion"
8235d9b3 (Luis Lafuente Morales 2017-04-26 12:36:43 +0200  30)             [(ngModel)]="newStorage.filesystemDescription"
8235d9b3 (Luis Lafuente Morales 2017-04-26 12:36:43 +0200  31)             placeholder="Descipci├│n" />
8235d9b3 (Luis Lafuente Morales 2017-04-26 12:36:43 +0200  32)           &lt;/md-input-container>
3d6180c8 (ADRIAN                2017-04-21 12:42:48 +0200  33)         &lt;/div>
3d6180c8 (ADRIAN                2017-04-21 12:42:48 +0200  34)       &lt;/div>
02f1d793 (ADRIAN                2017-04-24 12:14:33 +0200  35)       &lt;br/>
3d6180c8 (ADRIAN                2017-04-21 12:42:48 +0200  36)
00000000 (Not Committed Yet     2017-06-06 18:45:14 +0200  37)       &lt;!-- NOTE this is not used -->
3d6180c8 (ADRIAN                2017-04-21 12:42:48 +0200  38)       &lt;div class="row">
3d6180c8 (ADRIAN                2017-04-21 12:42:48 +0200  39)         &lt;div class="col-sm-4">
3d6180c8 (ADRIAN                2017-04-21 12:42:48 +0200  40)           &lt;md-select
3d6180c8 (ADRIAN                2017-04-21 12:42:48 +0200  41)             placeholder="Tipo"
3d6180c8 (ADRIAN                2017-04-21 12:42:48 +0200  42)             [(ngModel)]="selectedType"
3d6180c8 (ADRIAN                2017-04-21 12:42:48 +0200  43)             name="Tipo"
...</code></pre>
</section>




<section>
  <h1>Note</h1>

  <p>You can blame anytime (not just in the present)</p>

  <pre><code>
git checkout sha1
git blame file
    </code></pre>

</section>

<section>
  <h1>Changelog</h1>

  <h4><a href="https://github.com/conventional-changelog/standard-version" target="_blank">standard-version</a></h4>

  <h4><a href="https://github.com/llafuente/ng2-vs-backend/blob/master/CHANGELOG.md" target="_blank">example project</a></h4>
</section>




<!-- -->
<section>
  <h2>Opensource concepts</h2>

  <p>Author vs Committer</p>
  <p>Fork - Pull request</p>
  <p>GPG</p>

</section>




<!-- -->
<section>

<%- include('./slides/sh-playable-example', {
  title: 'Author vs Committer',
  shFile: '../examples/git-full-log.sh',
  id: 'git-full-log'
}) %>

</section>




<!-- -->
<section>
  <h3>Pull requests: Update PR</h3>

  <p>This branch is x commits behind xx:xx</p>

  <small><a href="https://github.com/manvsrice/unity-platformer" target="_blank">example</a></small>

<pre id="branching-result" style="display:none; overflow-y: scroll; max-height: 500px;">
</pre>

<pre id="branching-code">
<code class="bash">
git remote add upstream https://github.com/&lt;user>/&lt;repo>
git fetch upstream

git checkout &lt;branch&gt;
git merge upstream/&lt;branch&gt;
</code></pre>
</section>

<!-- -->
<section>
<h2>GPG</h2>

<p>sign and verify tags and commits</p>

<a href="https://help.github.com/articles/signing-commits-with-gpg/" target="_blank">
  https://help.github.com/articles/signing-commits-with-gpg/
</a>

<%- include('./slides/sh-code', {
  shFile: '../examples/gpg.sh'
}) %>

</section>


<section>
  <h3>Git Hooks</h3>

  <p>Hooks are programs you can place in a hooks directory to trigger actions at certain points in git’s execution.</p>
  <p>located at: <em>.git/hooks</em></p>
</section>

<section>
  <h3>Git Hooks</h3>
  <table>
    <tr>
      <th>Local</th>
      <th>Remoto</th>
    </tr>
    <tr>
      <td>
        <ul>
          <li>pre-commit</li>
          <li>prepare-commit-msg</li>
          <li>commit-msg</li>
          <li>post-commit</li>
          <li>post-checkout</li>
          <li>pre-rebase</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>pre-receive</li>
          <li>update</li>
          <li>post-receive</li>
        </ul>
      </td>
    </tr>
  </table>
</section>

<section>
  <h2><a href="https://pre-commit.com/" target="_blank">pre-commit</a></h2>

  <p>A framework for managing and maintaining multi-language pre-commit hooks.</p>

</section>

<section>
  <h2>Install</h2>
  <pre><code>
USER="xxx"
PASSWORD="xxx"
curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
python get-pip.py --proxy="http://${USER}:${PASSWORD}@proxyvip.igrupobbva:8080"
pip install pre-commit --proxy http://${USER}:${PASSWORD}@proxyvip.igrupobbva:8080/
</code></pre>
</section>

<section>
<%- include('./slides/sh-playable-example', {
  title: 'Example',
  shFile: '../examples/pre-commit.sh',
  id: 'pre-commit'
}) %>
</section>

<section>
  <h2>Personalize git</h2>

  <p><a href="https://github.com/llafuente/dotfiles/blob/master/.gitconfig" target="_blank">.gitconfig</a></p>

</section>


<!-- -->
<section data-background="images/the-end.jpg">
</section>

<section data-background="images/qa.png" data-background-size="700px">
  <h1>Q/A</h1>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</section>



      </div>
    </div>
    <script src="/js/reveal.js"></script>
    <script>
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        transition: 'slide', // none/fade/slide/convex/concave/zoom
      });

      Reveal.configure({ pdfMaxPagesPerSlide: 1 });

      jQuery(document).ready(function() {
        jQuery('pre code').each(function(i, block) {
          console.log(block);
          hljs.highlightBlock(block);
        });
      });
    </script>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
      var lastResultEl = null;
      socket.on('bash-result', function(msg) {
        console.log(msg);
        //jQuery(lastResultEl).append(jQuery('<span>' + msg + '</span>'));
        jQuery(lastResultEl).html(jQuery(lastResultEl).html() + msg);

        var wtf    = jQuery(lastResultEl);
        var height = wtf[0].scrollHeight;
        wtf.scrollTop(height);

      });
    </script>
    <script>
      jQuery(".play-terminal").bind('click', function(e) {
        const anchor = e.target.tagName == "A" ? e.target : jQuery(e.target).parent("a").get(0);

        console.log("play-terminal", anchor);
        e.preventDefault();
        jQuery(e.target).hide();

        const cid = jQuery(anchor).data("code")
        const rid = jQuery(anchor).data("result")
        console.log("code", cid, "result", rid);

        const codeEl = jQuery("#" + cid);
        codeEl.hide();

        const resultEl = jQuery("#" + rid);
        resultEl.show();
        lastResultEl = resultEl;


        socket.emit('bash', codeEl.text());
      });
    </script>


  </body>
</html>
<!--
git extras
  -->
